<div class="lowerHeaderContainer">
    <nav class="tabContainer">
		<a href="/">
			<div class="logoContainer">
				<img src='/assets/logo.png' class='logo'>
			</div>
		</a>
        <a class="tab" href="/quote">Random Quote</a>
        <a class="tab" href="/search">Search</a>
    </nav>
</div>
