<div class="lowerHeaderContainer">
    <nav class="tabContainer">
		<a href="/">
			<div class="logoContainer">
				<img src='/assets/logo.png' class='logo'>
			</div>
		</a>
        <a class="tab" href="/">The Book of the DSS</a>
		<a class="tab" href="/quote">Random Quote</a>
		
	<form id="searchForm" method="GET" action="/search">
		<% if (typeof query != 'string'){
			query = '';
		}%>
		<input class='searchQuery' type="text" name="query" placeholder='Search' value=<%=query%>>
		<input class="searchSubmit" type="submit" value="&telrec;">
	</form>
    </nav>
</div>
