<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <%- include ('partials/head'); -%>
</head>
<body>
<header>
  <%- include ('partials/nav'); -%>
</header>
<main>
    <div>
		<p>This site is a celebration of 7 years of history and a compilation of things we've said.</p>
		<img src="../assets/dsslogo.png" style="height:300px;">
		<br>
		<h2>DSS Members</h2>
    </div>
</main>
<footer>
    <%- include ('partials/footer'); -%>
</footer>
</body>
</html>
