<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Book of the DSS</title>
</head>
<body>
<header>
  <%- include ('partials/header'); -%>
  <%- include ('partials/nav'); -%>
</header>
<main>
    <!-- This file is unused at the moment, but may be used as the home page in future -->
    <div>
        Book of the DSS
    </div>
</main>
<footer>
    <%- include ('partials/footer'); -%>
</footer>
</body>
</html>
