<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/stylesheets/quote.css">
	<link rel="stylesheet" href="/assets/stylesheets/main.css">
	<title>Home</title>
</head>
<body>
<header>
	<%- include ('partials/header'); -%>
	<%- include ('partials/nav'); -%>
</header>
<main>
	<%- include ('partials/quote'); -%>
	<a href='/quote'>Get a new random quote</a>
</main>
<footer>
	<%- include ('partials/footer'); -%>
</footer>
</body>
</html>
