<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/stylesheets/quote.css">
    <title>Home</title>
</head>
<body>
<header>
  <%- include ('partials/header'); -%>
  <%- include ('partials/nav'); -%>
</header>
<main>

  <div class="quote">
    <div class="message">
      <div class="avatar">
        <img src="assets/avatars/david.png">
      </div>
      <div class="contents">
        <h2 class="nameHeader">
          <span class="username" style="color: var(--username-david)">
            David
          </span>
        </h2>
        <div class="messageText">
          I ate a banana today
        </div>
      </div>
    </div>
    <br>

    <div class="message">
      <div class="avatar">
        <img src="assets/avatars/matt.png">
      </div>
      <div class="contents">
        <h2 class="nameHeader">
          <span class="username" style="color: var(--username-matt)">
            Matt
          </span>
        </h2>
        <div class="messageText">
          Zachs?
        </div>
      </div>
    </div>
    <br>

    <div class="message">
      <div class="avatar">
        <img src="assets/avatars/david.png">
      </div>
      <div class="contents">
        <h2 class="nameHeader">
          <span class="username" style="color: var(--username-david)">
            David
          </span>
        </h2>
        <div class="messageText">
          My throat kinda hurts, but not that mu-
        </div>
      </div>
    </div>
    <br>

    <div class="message">
      <div class="avatar">
        <img src="assets/avatars/david.png">
      </div>
      <div class="contents">
        <h2 class="nameHeader">
          <span class="username" style="color: var(--username-david)">
            David
          </span>
        </h2>
        <div class="messageText">
        </div>
        <div class="embed">
          <img src="assets/embeds/quote12345david1.jpg">
        </div>
      </div>
    </div>

  </div>
</main>
<footer>
    <%- include ('partials/footer'); -%>
</footer>
</body>
</html>
