<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <title>Quote Submission</title>
</head>
<body>
<header>
  <%- include ('partials/header'); -%>
  <%- include ('partials/nav'); -%>
</header>
<main>
    <form id="submissionForm" method="POST" action="/newquote">
      <div class='formContainer'>
        <label for="sender1">First Sender:</label>
        <input type="text" name="sender1"><br>
        <label for="message1">Message:</label>
        <input type="text" name="message1"><br>
        <label for="sender2">First Sender:</label>
        <input type="text" name="sender2"><br>
        <label for="message2">Message:</label>
        <input type="text" name="message2"><br>
        <label for="embed2">Embed Path: </label>
        <input type="text" name="embed2"><br>
      </div>
      <input class="submitButton" type="submit" value="submit">
    </form>
</main>
<footer>
    <%- include ('partials/footer'); -%>
</footer>
</body>
</html>
